@model _06BazyDanych.Models.MessageDetails

@{
}

@using (@Ajax.BeginForm("SendEmail", new AjaxOptions()
{
    HttpMethod = "Post",
    UpdateTargetId = "contenerEmailConfirmation",
    LoadingElementId = "loadingEmailConfirmation"
}))
{
    @Html.LabelFor(x => x.emailAuthor, "Twój email: ")
    @Html.EditorFor(x => x.emailAuthor)
    @Html.ValidationMessageFor(x => x.emailAuthor)<br/>
    
    @Html.LabelFor(x => x.subject, "Temat")
    @Html.EditorFor(x => x.subject)<br/>

    @Html.LabelFor(x => x.messageDetails, "Treść wiadomości: ")<br/>
    @Html.EditorFor(x => x.messageDetails)
    @Html.ValidationMessageFor(x => x.messageDetails)<br/>
    
    <input type="submit" value="Wyślij"/>
}

<div>
    @Html.ValidationSummary()
</div>

<div id="contenerEmailConfirmation">
    @Html.Partial("_PartialEmailConfirmation", Model)
</div>

<div id="loadingEmailConfirmation" style="display: none">
    <p>Trwa wysyłanie wiadomości...</p>
</div>

